.started__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 56px;
    left: 0;
}

.navBar__aside {
    width: 100%;
    position: sticky;
    top: 56px;
}

.navBar__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 20px;
    background: var(--background-color);
}

.navBar__item {
    color: var(--text-hover-generic);
    cursor: pointer;
}

.navBar__item:hover {
    color: var(--color-icon-menu);
}

.navBar__item .navBar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 5px;
    background: var(--background-color);
    transition: color .3s ease;
    color: inherit;
}

.navBar__btn .navBar__icon svg {
    font-size: 1rem;
}

.navBar__btn .navBar__title {
    font-size: .9rem;
}

.navBar-aside {
    width: 100%;
    max-width: 380px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px 20px;
    overflow: auto;
    background: var(--background-color);
    transform: translate(-100%);
    transition: transform .5s ease;
}

.navBar-aside.open {
    transform: translate(0%);
}

.fundamentos-node {
    margin-top: 200px;
    width: 100%;
    height: 100%;
    font-size: 4rem;
}