body {
  background-color: var(--background-color);
  color: var(--text-color-generic);
}

p {
  color: var(--color-text-paragraph);
  font-size: var(--fz-paragraph);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: var(--z-i-navBar);
}

.home__container {
  margin-top: 50px;
  padding: 2rem 1.5rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background: var(--background-color);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
  z-index: var(--z-i-navBar);
}

.App {
  position: relative;
}

/* Coffe-me */
.coffe__me {
  width: 60px;
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 70px;
  right: 35px;
  background: var(--focus-link);
  border-radius: 50%;
  cursor: pointer;
  transition: transform .3s ease;
  border: 1px solid royalblue;
}

.coffe__me:hover {
  transform: scale(1.1);
}

.coffe__logo-desktop {
  display: none;
}

.coffe__logo-movile {
  width: 35px;
  height: 35px;
  color: white;
}

.modal {
  width: max-content;
  position: absolute;
  bottom: 55px;
  right: 55px;
  padding: 10px;
  background: var(--focus-link);
  color: var(--background-color);
  border-radius: 20px 20px 0 20px;
  animation: 3s alternate modal;
  transition: display .3s ease-in-out;
  display: none;
}

.coffe__me:hover .modal {
  display: block;
}