body {
  background-color: var(--background-color);
  color: var(--text-color-generic);
}

p {
  color: var(--color-text-paragraph);
  font-size: var(--fz-paragraph);
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

button {
  border: 0;
  outline: 0;
  cursor: pointer;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--background-color);
  z-index: var(--z-i-navBar);
}

.home__container {
  margin-top: 50px;
  padding: 2rem 1.5rem;
}

.overlay {
  width: 100%;
  height: 100%;
  background: #3838387a;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
}